* {
    box-sizing: border-box
}

body {
    margin-left:0px;
    font-size: 28px;
}

.navbar {

    overflow: hidden;
    background-color: #026670;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar a {

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
}

.navbar a:hover {

    background-color: #ddd;
    color: #76323F;
}

.navbar a.active {

    background-color: #FCE181;
    color: white;
}

.navbar .icon {
    display: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .main {
    padding-top: 60px;
}


.main {
    margin-left: 10%;
    margin-right: 10%;

}

.meniu_text {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 45px;

}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #026670;
    background-color: #026670;
    border-right: none;
    border-left: none;
    width: 15%;
    height: 100%;
}

/* Style the buttons inside the tab */
.tab button {

    display: block;
    background-color: inherit;
    color:  white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #FCE181;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #76323F;
}

/* Style the tab content */
.tabcontent {
    overflow-y: scroll;
    float: left;
    padding: 0px 12px;
    border: 1px solid #026670;
    width: 80%;
    height: 700px;

}

p#text_start {
    margin-left: 1.5%;
}

@media screen and (max-width: 700px) {
    .tabcontent {
        font-size: 10px;
        width: 70%;
    }

    .tab {

        width: 30%;
    }

    .tab button {
        font-size: 12px;
    }

}
.about_us {
    display: inline;
    color: #026670;
    margin-left: 4%;
    margin-right: 4%;
}

p#about_main {
    margin-left: 15%;
    margin-right: 15%;
}

p#email_about {
    text-align: center;

}

p#autori {
    text-align: center;
    /*margin-right: 5%;*/
}

div.header_text {
    background: fixed;
    background-image: url(https://static.change.org/home/illustration-world-map-2015-08-18.gif);
    font-size: 40px;
}

h3#about_text {
    text-align: center;
    color: #026670;

}
