body {
    width: 100%;
    height: 100%;

    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    font-size: 28px;
}



ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 80px;
}

li {

    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img.iconitaSearch:hover{
background-image: url("searchIMG_V.png");
}

li a:hover {
    background-color: #333;
}

li a:hover.active {

    background-color: #333333;
}
.active {
    background-color: #006411;

}

.main {
    margin-left: 10%;
    margin-right: 10%;
}

.meniu_text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 45px;

}

.iconitaSearch {
    width: 50px;
    height: 50px;
    margin-top: 15px;

}

#search {
    float: right;
    margin-bottom: 10px;

}

img#img_citat
{
   width: 100%;
    height: 100%;
}

.header {
    max-width: 100%;
    max-height: 100%;
    font-size: 0px;
    margin-top: 0px;
    padding: 0px;
}

input[type=text] {

    margin-left: 30%;
    margin-right: 30%;
    position: center;
    float: right;

    width: 40px;

    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 30px;
    background-color: white;
    /*background-image: url('searchIMG.png');*/
    background-size: 35px ;
    background-position: right;

    background-repeat: no-repeat;

    padding: 12px 20px 12px 40px;
    -webkit-transition: width 3.4s ease-in-out;
    transition: left ;
    transition: width 1.4s ease-in-out;

}


input#search {
    background-image: url('searchIMG.png');
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 50%;
    text-indent: 20px;

}
input#search:first-of-type{
    background-position: center;
}
input#search:end
{background-position: right

}
#searchh:active {background-position: right;}

input[type=text]:focus {


    width: 30%;
}
form
{

    margin: auto;
    position: center;

}

li#Library {
    float: right;

background-position: bottom;
    background-image: url('searchIMG.png');
    background-repeat: no-repeat;
    background-size: 30px;
    height: 50px;
    width: 50px;
}

li#Library:hover {
    background-image: url('searchIMG_V.png');

}


.petition-button {
    padding: 26px 67px 24px 18px;
position: relative;
    background-color: #2ccb6f;
    font-size: 25px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 18px;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.img-start-pet {
    /*content: '';*/
    margin-left: 14px;
    position: absolute;
    width: 40px;
    height: 40px;
    display: inline-block;

    top: 14px;
    right: 11px;
}

/*#search_form{*/
/*padding: 40px 40px 40px 40px;*/
/*}*/
